<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post" id="form">
        <h1>Login</h1>
        <label for="email">Email:</label>
        <input id="email" type="email" placeholder="Email" name="username">
        <label for="password">Password: </label>
        <input id="password" type="password" placeholder="Password" name="password">
        <button type="submit"  class="btn">Login</button>
    </form>
</body>
</html>
